.sparrow-form {
  margin-bottom:3em;
  font:inherit;
  margin:0 auto;
}

  .sparrow-form fieldset {
    /*border-color:#ccc;
        border-width:1px;
        border-style:solid;*/
        border:none;
    /*padding:1em;*/
  }

  .sparrow-form fieldset legend {
    font-weight:bold;
    /*text-shadow: 1px 1px 1px #ccc;*/
    font-size:1.6em !important;
    letter-spacing:-0.03em;
    font-family:Helvetica, arial, sans-serif;
  }

  .sparrow-form .input-text,
  .sparrow-form textarea,
  .sparrow-form select,
  .sparrow-form .input-file {
    border-color:#ccc;
    width:60%;
    border-style:solid;
    border-width:1px;
    margin-top:0;
    padding:.6em .5em;
    background-color:#eee;
    font:inherit;
/*    float:left;
    display:block;*/
  }
  
  .sparrow-form .input-disabled {
    
      border-color:#ddd;
      width:60%;
      border-style:solid;
      border-width:1px;
      margin-top:0;
      padding:.6em .5em;
      background-color:#eee;
      font:inherit;
      color:#999;
  /*    float:left;
      display:block;*/
    }
  
/*  .sparrow-form input.input-file {
    height:1.8em;
    padding:1em;
    font-family:times;
  }*/
  
  .sparrow-form .input-text:focus,
  .sparrow-form textarea:focus,
  .sparrow-form select:focus,
  .sparrow-form .input-file:focus {
    background-color:lightyellow;
    /*border-color:lightgreen;*/
  }
  
  .sparrow-form p {
    margin:0.5em 0 0.5em !important;  
    padding-top:1em;
    /*border-top:1px solid #eee;*/
  }
  
    .sparrow-form p span {
      
      display:block;
      float:left;
      clear:both;
      width:20%;
      border:0;
      padding:.3em 0;
      margin-top:0.5em;
      color:#666;
      
    }
    
    .sparrow-form p .advisory {
      padding:1em 0 !important;
      display:block;
      font-style:italic;
    }
  
    .sparrow-form p .input-text {
    }
    
    .sparrow-form p textarea {
      /*height:5em;*/
      line-height:1.4;
    }
    
    .sparrow-form p.big textarea {
      /*height:25em;*/
    }
    
    .sparrow-form p select {
      width:435px;
      padding:.6em .5em;
    }
    
      .sparrow-form p.date select {
        width:auto !important;
      }
    
      .sparrow-form select option {
        padding:0 .3em;
      }

    .sparrow-form p select.input-select-multiple {
      padding:0 !important;
      height:10.3em;
    }

      .sparrow-form p select.input-select-multiple option {
        padding:.8em .5em;
      }
      
    .sparrow-form p .input-option {
      height:1em;
      width:1em;
    }
    
    .sparrow-form p:hover, .sparrow-form p:active {
      /*background-color:#eee;*/
    }
    
    .sparrow-form p:hover strong, .sparrow-form p:active strong {
      color:#000;
    }
    
    .sparrow-form .input-file {
      width:435px;
    }

    
  .sparrow-form .options {
    /*margin-left:11em;*/
    display:block;
    padding-top:.8em !important;
  }
    
/*    .sparrow-form .options label {
      display:inline !important;
      margin-right:2em;
      float:none !important;
      padding:0 !important;
      vertical-align:top;
    }
    */
    .sparrow-form .options .input-option {
      margin:0.7em .2em 0 0;
      vertical-align:top;
    }

  
    .sparrow-form .input-file {
      margin-bottom:0.8em;
    }
     
  .sparrow-form p.buttoned,
  .sparrow-form p .advisory {
    margin-left:11em;
    text-align:center;
  }
  
    .sparrow-form p.buttoned .input-submit,
    .sparrow-form p.buttoned .input-reset {
      border-color:#eee;
      border-width:1px;
      border-style: outset;
      background:#ccc;
      padding:.5em .5em .5em .5em;
      cursor:pointer;
      text-align:center;
      font-weight:bold !important;
      font:inherit;
    }
    
    .sparrow-form .delete, .sparrow-form .add {
      text-decoration:none;
    }
    
    .sparrow-form .delete {
      color:red;
      text-align:right;
    }
    
    .sparrow-form .add {
      color:green;
      text-align:right;
    }
    
    .sparrow-form h3 {
      font-weight:bold;
      margin-top:2em;
      padding:1em 0;
      border-bottom:1px solid yellow;
    }